.container{
    width:900px;
    height:50px;

}

.parent{
    
    width:800px;
    height:88px;
    font-size:13px;
    font-family:"entypo-fontello";
    font-weight: bold;
    float:right;
    padding: -20px 8px 15px 25px;
    border-top-color: #a81010
}
.dropdown:hover>.dropdown-menu {
    display: block;
}
.navb

.menu-size{
    width:180px;
    
}